/* Custom Properties - Project Specific */

:root {
  --ff-prj-primary: 'Arial', sans-serif;

  --fs-prj-title: 1.125rem;
  --fs-prj-body: .875rem;

  --clr-prj-lt-green: #d1eecc;
  --clr-prj-blue-green: #76dbd1;
  --clr-prj-dk-green: #57a99a;
  --clr-prj-dark: #000;
}

/* Individual portfolio item styles */
section {
  padding: 3em 2em;
  margin: 0 auto;
  max-width: 1000px;
}

.section__title {
  margin-bottom: 2rem;
}

.portfolio-item-individual {
  padding: 0 2em 2em;
  margin: 0 auto;
}

.btn--wrapper {
  margin: 0 auto;
  text-align: center;
}

.img-container {
  margin: 2rem auto;
}

/* Overview */

.btns-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.prj-btn-container {
  justify-self: center;
  margin: .5em;
}

.prj-btn {
  padding: .75em 1.5em;
  opacity: 0.87;
  font-size: 1.07rem;
  letter-spacing: 1px;
}

.prj-btn-github {
  padding-left: 1.9em;
  padding-right: 1.9em;
}

/* Team */

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* .team {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "title"
    "team-text"
    "img-one"
    "list-one"
    "img-two"
    "list-two";
  margin: 0 auto;
  align-items: center;
} */

.team__img--container {
  justify-self: center;
  /* box-shadow: var(--bs); */
  border-radius: 50%;
  max-width: 175px;
}

.section__title--team {
  grid-area: title;
}

.team p {
  grid-area: team-text;
}

.team__img {
  border-radius: 50%;
  justify-self: center;
}

.team__img--name {
  text-align: center;
  font-size: var(--fs-h3);
  font-weight: var(--fw-semi-bold);
}

.team__img--one {
  grid-area: img-one;
}

.team__list {
  list-style-type: none;
}

.team__list-one {
  grid-area: list-one;
}

.team__img--two {
  grid-area: img-two;
}

.team__list-two {
  grid-area: list-two;
}

@media (max-width: 760px) {
  .team__img {
    max-width: 150px;
  }
}

@media (min-width: 600px) {
  .team {
    margin: 0 auto;
    grid-template-areas:
      "title title title title"
      "team-text team-text team-text team-text"
      "img-one list-one list-one list-one"
      "list-two list-two list-two img-two";
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Client Description and Competitors */

.competitor {
  font-size: var(--fs-body);
  font-weight: var(--fw-semi-bold);
}

/* Accessibility Audit */

.audit-text {
  text-decoration: underline;
}

.audit-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.audit-graphic {
  justify-self: center;
}