/* Individual portfolio item styles */

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.btn-website-repo {
  display: flex;
  justify-content: space-evenly;
}

.btn-prj-info {
  border-radius: 7px;
}